/* button filters */
.artist-box-wrapper {
  position: relative;
  margin-top: 32px;
}

.artist-legend-article {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 12px;
}

.artist-button-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
}

.artist-modal-filters-box.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.artist-custom-radio input[type='radio']:checked ~ span svg {
  display: block;
}

[data-artist-modal] {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

[data-artist-modal].open {
  max-height: 500px;
  padding: 24px;
  opacity: 1;
  border-radius: 0 0 16px 16px;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.rotated {
  transform: rotate(180deg);
  transform-origin: center;
}

.artist-modal-filters-box {
  position: absolute;
  z-index: 15;
  top: 90px;
  left: 0;
  width: 289px;
  border-radius: 12px;
  padding: 12px;
  pointer-events: none;
  transform: translateY(-20px);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  background: var(--color-scheme-2-foreground);
}

.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.artist-search-input {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 10px 12px 10px 48px;
  margin-bottom: 12px;
  width: 265px;
  height: 48px;
}

.artist-search-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.artist-search-button {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 4px;
  left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-search-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.artist-sort-name {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 8px 12px;
  width: 265px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: border-radius 0.3s ease-in-out;
}

.artist-reset-filters {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 8px 12px;
  text-align: center;
  /* height: 43px; */

  transition: border-radius 0.3s ease-in-out;
}

.artist-sort-name.active-filter {
  border-radius: 12px 12px 0 0;
}
.artist-radio-sort-box {
  border-bottom: 1px solid var(--color-scheme-1-border);
  border-left: 1px solid var(--color-scheme-1-border);
  border-right: 1px solid var(--color-scheme-1-border);
  border-radius: 0 0 16px 16px;

  background: var(--color-scheme-2-foreground);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.artist-radio-sort-box-genre {
  border-bottom: 1px solid var(--color-scheme-1-border);
  border-left: 1px solid var(--color-scheme-1-border);
  border-right: 1px solid var(--color-scheme-1-border);
  border-radius: 16px;
  /* padding: 24px; */
  background: var(--color-scheme-2-foreground);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.artist-custom-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.artist-custom-radio input[type='radio'] {
  display: none;
}

.artist-radio-icon svg {
  display: none;
}

.artist-custom-radio input[type='radio']:checked + .artist-radio-icon svg {
  display: block;
}

@media only screen and (min-width: 768px) {
  .artist-box-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-bottom: 12px;
  }

  .artist-legend-article {
    margin-bottom: 0px;
  }

  .artist-button-filters {
    margin-bottom: 0px;
    border-radius: 12px;
    padding: 10px 24px;
    width: 233px;
    height: 47px;
  }

  .artist-modal-filters-box {
    top: 50px;
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .artist-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 320px;
    margin: 0;
  }

  .artist-legend-article {
    margin-bottom: 12px;
  }

  .artist-button-filters {
    margin-bottom: 0px;
    border-radius: 12px;
    padding: 10px 24px;
    width: 233px;
    height: 47px;
  }

  .open-desktop {
    top: 65px;
    left: 0;
    right: auto;
    opacity: 1;
    background: transparent;
    pointer-events: auto;
    padding: 0;
  }

  .artist-radio-sort-box-genre {
    background: transparent;
  }
  .artist-radio-sort-box {
    background: transparent;
  }

  .artist-sort-name {
    width: 100%;
  }

  .artist-search-input {
    width: 100%;
  }
  .artist-button-filters {
    display: none;
  }

  .artists-dekstop-box {
    margin-top: 60px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
  }
  /* 
  .artist-img {
    width: 100%;
    height: 100%;
  } */

  .artists-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 32px;
  }

  .artist-card {
    width: 472px;
    height: 527px;
    min-width: 320px;
  }

  .artist-img-wraper {
    border-radius: 16px;
    width: 472px;
    height: 290px;
  }
}
