
/************ Mobile-first ************/

.section-artist-modal {
    padding-left: 16px;
    padding-right: 16px;
}

.container-artist-modal {
    border-radius: 16px;
    padding: 52px 8px;
    width: 288px;
    background-color: var(--color-neutral-darkest);
}

.artist-modal-close-btn {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: auto;
    margin-bottom: 4px;
    display: block;
    transition: transform 0.4s ease-in-out;
}

.artist-modal-close-svg {
    fill: var(--color-white);
}

.artist-modal-close-btn:hover {
    fill: var(--color-neutral-lightest);
    opacity: 0.6;
    transform: rotate(180deg);
}

.artist-modal-name {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: center;
}

.artist-modal-album-img {
    border-radius: 16px;
    width: 100%;
    height: 167px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 32px;
}

.artist-modal-album-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    width: 272px;
}

.modal-album-list-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.modal-album-list-item-value {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.artist-modal-genres-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.artist-modal-genres-list-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid var(--opacity-white-20);
    border-radius: 6px;
    padding: 4px 10px;
    height: 32px;
}

.artist-modal-album-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
}

.artist-modal-album-container {
    padding: 14px 11px;
    border-radius: 16px;
    width: 272px;
    /* height: 634px; */
    min-width: 250px;
    background-color: var(--color-neutral-darker);
}

.artist-modal-album-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.artist-modal-album-track-header-list {
    font-weight: 600;
    font-size: 8px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-radius: 8px;
    padding: 4px 11px 4px 12px;
    width: 250px;
    height: 20px;
    background-color: var(--opacity-white-5);
}

.artist-modal-album-track-header-list-item:nth-child(1) {
    text-align: left;
    width: 60%;
}

.artist-modal-album-track-header-list-item:nth-child(2) {
    text-align: center;
    width: 20%;
}

.artist-modal-album-track-header-list-item:nth-child(3) {
    text-align: right;
    width: 20%; }


.artist-modal-track-list {
    width: 250px;
}

.artist-modal-track-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    gap: 16px;
    border-radius: 8px;
    min-height: 32px;
    padding: 4px 11px 4px 12px;
}

.artist-modal-track-list-item-song {
    text-align: left;
    width: 60%;
}

.artist-modal-track-list-item-time {
    text-align: center;
    width: 30%;
}

.artist-modal-track-list-item-link {
    text-align: right;
    width: 10%;
}

.artist-modal-track-list-item-link:hover {
    fill: var(--color-neutral-lightest);
    opacity: 0.6;
}

.artist-modal-track-list-item-svg {
    fill: var(--color-white);
}

.artist-modal-track-list-item:nth-child(even) {
    border-radius: 8px;
    background-color: var(--opacity-white-10);
}


/************ For Tablet ************/
@media screen and (min-width: 768px) {
    
    .section-artist-modal {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container-artist-modal {
        padding: 64px 24px;
        width: 702px;
    }

    .artist-modal-close-btn {
        margin-right: 47px;
        margin-bottom: 16px;
    }

    .artist-modal-name {
        font-family: var(--second-family);
        font-size: 32px;
    }

    .artist-modal-album-img {
        height: 402px;
        width: 654px;
        margin-top: 48px;
    }

    .artist-modal-album-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }
    
    .artist-modal-album-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        max-width: 654px;
        margin-bottom: 0;
    }

    .biography-list-item-text {
        grid-column: 1 / -1;
    }

    .biography-paragraph {
        width: 654px;
    }

    .artist-modal-genres-list {
        margin-bottom: 0;
    }

    .artist-modal-album-container {
        padding: 14px 11px;
        border-radius: 16px;
        width: 272px;
        /* height: 634px; */
        min-width: 250px;
        background-color: var(--color-neutral-darker);
    }
    
}


/************ For Desktop ************/
@media screen and (min-width: 1440px) {


}