/******** Mobile *******/

.footer-wrapper {
    width: 100%;
    padding: 48px 0 64px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin: 0 82px 32px;
}

.footer-logo-link {
    display: inline-block;
    line-height: 0;
}

.footer-logo-icon {
    fill: var(--color-affair);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
}

.footer-nav-link {
    font-weight: 600;
    font-size: 16px;

}

.footer-divider {
    border: 1px solid var(--color-scheme-1-border);
    width: 100%;
    margin-bottom: 24px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
}

.footer-copyright {
    font-size: 16px;
    margin: 0 21px;
    white-space: nowrap;
}


.footer-social {
    display: flex;
    gap: 32px;
}

.footer-social-icon {
    fill: var(--color-scheme-1-text);
    transition: transform 0.3s ease, fill 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.footer-social-icon:hover {
    transform: scale(1.15);
    opacity: 0.8;
    fill: var(--color-neutral-light);
}

/******** Tablet *******/

@media screen and (min-width: 768px) {
    .footer-wrapper {
        padding: 80px 0;
    }

    .footer-logo {
        margin: 0 auto 32px;
    }
    
    .footer-nav {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 80px;
    }
    
    .footer-divider {
        margin-bottom: 32px;
    }
    
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    
    .footer-copyright {
        margin: 0;
    }
    
    .footer-social {
        gap: 24px;
    }
    
    .footer-social-icon {   
        width: 32px;
        height: 32px;
    }
}

/******** Desktop *******/

@media screen and (min-width: 1440px) {

    .footer-social-icon {
        width: 24px;
        height: 24px;
    }
}