/******** Mobile *******/

.header {
    background-color: var(--color-scheme-1-background);
}

.page-header .container {
    display: flex;
    align-items: center; 
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.header-logo {
    fill: var(--color-affair);
}

.header-nav-list {
    display: none;
}

.burger-btn {
    fill: var(--color-white)
}

