.hero-section {
  background: var(--color-scheme-3-background);
  position: relative;
  padding-top: 64px;
}

.hero-wrapper-up-gradient {
  background: var(--gradient-dark-bg-top);
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 10;
  pointer-events: none;
  width: 100%;
  height: 80px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 20px;
}

.hero-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

.hero-link-artist {
  padding: 10px 24px;
  width: 280px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-icon {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.5s ease;
  fill: var(--color-white);
}

.hero-link-artist:hover .hero-icon,
.hero-link-artist:focus .hero-icon {
  transform: rotate(180deg);
}

.hero-photo-box {
  height: 385px;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}

.hero-box-wrapper-tittle {
  margin-bottom: 64px;
}

.hero-column-up {
  display: flex;
  flex-direction: column;
}

.hero-image-up {
  border-radius: 16px;
  margin-bottom: 16px;
  width: 160px;
  height: 170px;
  object-fit: cover;
  transform: translateY(-70px);
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-name: hero-images-move-down;
  animation-timing-function: linear;
}

.hero-column-up:hover .hero-image-up,
.hero-column-down:hover .hero-image-down {
  animation-play-state: paused;
}

.hero-image-down {
  margin-bottom: 16px;
  border-radius: 16px;
  width: 160px;
  height: 170px;
  object-fit: cover;
  transform: translateY(0px);
  animation-duration: 28s;
  animation-iteration-count: infinite;
  animation-name: hero-images-move-up;
  animation-timing-function: linear;
}

.hero-column-down {
  display: flex;
  flex-direction: column;
}

.hero-wrapper-down-gradient {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 11;
  pointer-events: none;
  width: 100%;
  height: 106px;
  background: var(--gradient-dark-bg-btm);
}

/* Tablet: from 768px and up */
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;
  }

  .hero-title {
    position: sticky;
    z-index: 13;
    margin-bottom: 24px;
  }

  .hero-description {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .hero-box-wrapper-tittle {
    margin-bottom: 32px;
  }

  .hero-photo-box {
    height: 632px;
  }

  .hero-image-down {
    width: 342px;
    height: 340px;
  }

  .hero-image-up {
    width: 342px;
    height: 340px;
  }

  .hero-wrapper-down-gradient {
    height: 137px;
  }
}

/* Desktop: from 1440px and up */
@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 0px;
  }

  .hero-box-desktop {
    display: flex;
  }

  .hero-wrapper-up-gradient {
    height: 80px;
  }

  .hero-link-artist {
    border-radius: 12px;
    padding: 10px 24px;
    width: 206px;
    height: 47px;
  }

  .hero-title {
    display: block;
    font-weight: 700;
    font-size: 84px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
  }

  .hero-box-wrapper-tittle {
    margin: 0;
    padding: 0px 80px 0px 0px;
    width: 671px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
  }

  .hero-link-artist {
    margin-bottom: 0px;
  }

  .hero-photo-box {
    height: 900px;
    width: 641px;
  }

  .hero-image-down {
    width: 311px;
  }

  .hero-image-up {
    width: 311px;
  }
}
