.tui-pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.tui-pagination .tui-page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px 24px;
  width: 48px;
  height: 48px;
  font-weight: 500;

  transition: all 0.2s ease;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.tui-pagination .tui-page-btn:hover {
  border: 2px solid var(--color-affair);
  background-color: transparent;
}

.tui-pagination .tui-is-selected {
  border-radius: 12px;
  padding: 10px 24px;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(6, 3, 7, 0.05),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

.tui-pagination .tui-prev,
.tui-pagination .tui-next {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.tui-pagination .tui-prev:hover,
.tui-pagination .tui-next:hover {
  border: 2px solid var(--color-affair);
  background-color: transparent;
}

.tui-pagination .tui-is-disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* Три крапки */
.tui-pagination .tui-ico-ellip {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
