.reviews-custom-arrows {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* дозволяє кліки тільки на кнопки */
}

@media only screen and (min-width: 768px) {
  .reviews-custom-arrows {
    top: 45%;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews-custom-arrows {
    top: 30%;
  }
}

.reviews-slider-icons {
  fill: var(--color-white);
}

.reviews-icon-arrows {
  width: 48px;
  height: 48px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  pointer-events: all; /* увімкнути кліки тільки для кнопок */
}

.reviews-list {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .reviews-list {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews-list {
    font-size: 32px;
    line-height: 1.3;
  }
}

.reviews-slide {
}
.reviews-testimonial-card {
}

@media only screen and (min-width: 768px) {
  .reviews-slide {
    padding: 0 93px;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews-slide {
    padding: 0 223px;
  }
}

.reviews-stars {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
}
.reviews-quote {
  margin-bottom: 32px;
}

.reviews-author {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}

/* @media only screen and (min-width: 1440px) {
  .reviews-author {
    margin-bottom: 75px;
  }
} */

.splide__track {
  margin-bottom: 16px;
}

.splide__slide {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  /* padding-bottom: 16px; */
}

/* @media only screen and (min-width: 1440px) {
  .splide__track {
    margin-bottom: 75px;
  }
} */

@media only screen and (max-width: 767px) {
  .reviews-custom-arrows {
    display: none;
  }
}

/* .splide__pagination {
  position: relative;
} */

/* .splide__pagination__page {
  width: 8px;
  height: 8px;
  background-color: var(--color-white);
  opacity: 0.2;
  border-radius: 50%;
  margin: 0 4px;
  transition: opacity 0.3s ease;
} */

/* .splide__pagination__page.is-active {
  opacity: 1;
} */

/* .splide .splide__pagination__page.is-active {
  transform: scale(1);
} */

/* #reviews-slider .splide__pagination {
  position: relative;
} */

/* .reviews-icon-stars {
  fill: var(--color-white);
} */

/* .reviews-icon-rating {
  fill: #fff;
} */

/* .reviews-icon-rating-gold {
  fill: gold;
} */

.custom-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.pagination-btn {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: var(--color-scheme-1-text);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

/* .pagination-btn.active {
  background-color: var(--color-scheme-1-text);
  opacity: 1;
  transition: opacity 0.3s ease;
} */

.active {
  background-color: var(--color-scheme-1-text);
  opacity: 1;
  transition: opacity 0.3s ease;
}
