<section class="section" id="about-us">
  <div class="container container-about-us">
    <!-- <h2 class="hidden">Section About Us</h2> -->
    <div class="about-us-box">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./assets/images/about-us/team_mob.webp    1x,
            ./assets/images/about-us/team_mob@2x.webp 2x
          "
        />

        <source
          width="704"
          height="413"
          media="(max-width: 1439px)"
          srcset="
            ./assets/images/about-us/team_tab.webp    1x,
            ./assets/images/about-us/team_tab@2x.webp 2x
          "
        />

        <img
          width="640px"
          height="664px"
          src="./assets/images/about-us/team_desk.webp "
          srcset="
            ./assets/images/about-us/team_desk.webp    1x,
            ./assets/images/about-us/team_desk@2x.webp 2x
          "
          alt="team photo"
          class="about-us-image"
        />
      </picture>
    </div>
    <div class="about-us-container">
      <svg class="logo-icon" width="64" height="64">
        <use href="./assets/svg/sprite.svg#icon-logo-icon"></use>
      </svg>
      <h2 class="about-us-title">About ArtistsHub</h2>
      <p class="about-us-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
