<section class="section">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-title-descr">Explore Your New Favorite Artists</p>
    <ul class="artists-list">
      <li class="artist-card">
        <img
          src="../assets/images/artists/ren-min.png"
          alt="artist-image"
          class="artist-img"
        />
        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Ren</h3>
        <p class="artist-desc">
          Ren Eryn Gill, known professionally as Ren, is a
          multi-award-winning...
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/unlike-min.png"
          alt="artist-image"
          class="artist-img"
        />
        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Unlike Pluto</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/sleepy-min.png"
          alt="artist-image"
          class="artist-img"
        />
        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Sleepy Hallow</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/samara-min.png"
          alt="artist-image"
          class="artist-img"
        />
        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Samara Cyn</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/oliver-min.png"
          alt="artist-image"
          class="artist-img"
        />
        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/logic-min.png"
          alt="artist-image"
          class="artist-img"
        />
        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Logic</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/mother-min.png"
          alt="artist-image"
          class="artist-img"
        />

        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Mother Mother</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="artist-card">
        <img
          src="../assets/images/artists/livingston-min.png"
          alt="artist-image"
          class="artist-img"
        />

        <ul class="tags">
          <li class="tag">Alternative</li>
          <li class="tag">Pop</li>
          <li class="tag">Rock</li>
          <li class="tag">Indie</li>
        </ul>

        <h3 class="artist-name">Livingston</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="./artist-detail-modal.html" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
    <a href="#" class="load-more-btn">
      Load More
      <svg class="load-more-icon-btn" width="24" height="24">
        <use href="../assets/svg/sprite.svg#icon-down-arrow-alt"></use>
      </svg>
    </a>
  </div>
</section>
