<div class="modal-backdrop js-modal-backdrop" id="artist-modal">
  <div class="container container-artist-modal">
    <button class="artist-modal-close-btn js-close-btn" type="button">
      <svg
        class="artist-modal-close-svg"
        width="32"
        height="32"
        aria-hidden="true"
      >
        <use href="../assets/svg/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <h2 class="artist-modal-name">Unlike Pluto</h2>
    <div class="artist-modal-biography-field">
      <div class="artist-modal-img-wrapper">
        <img
          class="artist-modal-album-img"
          src="../assets/images/artist-detail-modal/desk-artist-modal-img.webp"
          alt="description"
        />
      </div>

      <div class="artist-modal-album-list-wrapper">
        <ul class="artist-modal-album-list">
          <li class="artist-modal-album-list-item">
            <p class="modal-album-list-item-title">Years active</p>
            <p class="modal-album-list-item-value">2013-present</p>
          </li>
          <li class="artist-modal-album-list-item">
            <p class="modal-album-list-item-title">Sex</p>
            <p class="modal-album-list-item-value">male</p>
          </li>
          <li class="artist-modal-album-list-item">
            <p class="modal-album-list-item-title">Members</p>
            <p class="modal-album-list-item-value">1</p>
          </li>
          <li class="artist-modal-album-list-item">
            <p class="modal-album-list-item-title">Country</p>
            <p class="modal-album-list-item-value">United States</p>
          </li>
          <li class="artist-modal-album-list-item biography-list-item-text">
            <p class="modal-album-list-item-title">Biography</p>
            <p
              class="modal-album-list-item-value biography-paragraph scrollable"
            >
              Armond Arabshahi, known by his stage name Unlike Pluto, is an
              American singer, songwriter, music producer, and former DJ. He is
              mainly known for his song "Everything Black", released under the
              record label Monstercat in 2017, which he produced with
              Philadelphia-based vocalist and DJ Mike Taylor.
            </p>
          </li>
        </ul>

        <ul class="artist-modal-genres-list">
          <li class="artist-modal-genres-list-item">Alternative</li>
          <li class="artist-modal-genres-list-item">Pop</li>
          <li class="artist-modal-genres-list-item">Rock</li>
          <li class="artist-modal-genres-list-item">Indie</li>
        </ul>
      </div>
    </div>

    <h3 class="artist-modal-album-title">Albums</h3>
    <div class="artist-modal-fetched-albums-wrapper">
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Ghost Gardens</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Cherry Blossom Nightmare</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Pixelated Oblivion</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Loud Fantasy, Quiet Reality</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Cherry Blossom Nightmare</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Pixelated Oblivion</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Loud Fantasy, Quiet Reality</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="artist-modal-album-container">
        <h4 class="artist-modal-album-name">Ghost Gardens</h4>
        <ul class="artist-modal-album-track-header-list">
          <li class="artist-modal-album-track-header-list-item">Track</li>
          <li class="artist-modal-album-track-header-list-item">Time</li>
          <li class="artist-modal-album-track-header-list-item">Link</li>
        </ul>

        <ul class="artist-modal-track-list">
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Rip Me Apart</p>
            <p class="artist-modal-track-list-item-time">3:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Dig</p>
            <p class="artist-modal-track-list-item-time">2:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Tremor</p>
            <p class="artist-modal-track-list-item-time">2:02</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lethal Poetry</p>
            <p class="artist-modal-track-list-item-time">3:32</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Lost Inside</p>
            <p class="artist-modal-track-list-item-time">3:54</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Flutter</p>
            <p class="artist-modal-track-list-item-time">1:49</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="artist-modal-track-list-item">
            <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
            <p class="artist-modal-track-list-item-time">2:15</p>
            <a class="artist-modal-track-list-item-link" href="#">
              <svg
                class="artist-modal-track-list-item-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="../assets/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
