<div class="modal-backdrop js-modal-backdrop" id="artist-modal">
  <div class="container container-artist-modal">
    <button class="artist-modal-close-btn js-close-btn" type="button">
      <svg
        class="artist-modal-close-svg"
        width="32"
        height="32"
        aria-hidden="true"
      >
        <use href="/assets/svg/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <div class="js-modal-artist-detail-info"></div>
    <!-- ghtdhd -->
    <h3 class="artist-modal-album-title">Albums</h3>
    <div class="artist-modal-fetched-albums-wrapper">
      <div class="artist-modal-album-container"></div>
    </div>
  </div>
</div>
