<section class="section" id="artists">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-title-descr">Explore Your New Favorite Artists</p>
    <div class="artists-dekstop-box">
      <load src="/partials/artists-filter.html" />
      <ul class="artists-list"></ul>
      <!-- <span class="loader is-hidden"></span> -->
    </div>
    <button class="load-more-btn button-base">
      <span>Load More</span>
      <svg class="load-more-icon-btn" width="24" height="24">
        <use href="/assets/svg/sprite.svg#icon-down-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>
