<section class="section section-artist-modal">
  <div class="container container-artist-modal">
    <svg class="artist-modal-close-svg">X</svg>

    <h2 class="artist-modal-name">Artist name - Unlike Pluto</h2>
    <img class="artist-modal-album-img" src="#" alt="description" />

    <ul class="artist-modal-album-list">
      <li class="artist-modal-album-list-item">
        <p class="modal-album-list-item-title">Years active</p>
        <p class="modal-album-list-item-value">2013-present</p>
      </li>
      <li class="artist-modal-album-list-item">
        <p class="modal-album-list-item-title">Sex</p>
        <p class="modal-album-list-item-value">male</p>
      </li>
      <li class="artist-modal-album-list-item">
        <p class="modal-album-list-item-title">Members</p>
        <p class="modal-album-list-item-value">1</p>
      </li>
      <li class="artist-modal-album-list-item">
        <p class="modal-album-list-item-title">Country</p>
        <p class="modal-album-list-item-value">United States</p>
      </li>
      <li class="artist-modal-album-list-item">
        <p class="modal-album-list-item-title">Biography</p>
        <p class="modal-album-list-item-value">Lorem ipsum dolor amet</p>
      </li>
    </ul>

    <ul class="artist-modal-genres-list">
      <li class="artist-modal-genres-list-item">Alternative</li>
      <li class="artist-modal-genres-list-item">Pop</li>
      <li class="artist-modal-genres-list-item">Rock</li>
      <li class="artist-modal-genres-list-item">Indie</li>
    </ul>

    <h3 class="artist-modal-album-title">Albums</h3>
    <div class="artist-modal-album-container">
      <h4 class="artist-modal-album-name">Ghost Gardens</h4>
      <ul class="artist-modal-album-track-header-list">
        <li class="artist-modal-album-track-header-list-item">Track</li>
        <li class="artist-modal-album-track-header-list-item">Time</li>
        <li class="artist-modal-album-track-header-list-item">Link</li>
      </ul>

      <ul class="artist-modal-track-list">
        <li class="artist-modal-track-list-item">
          <p class="artist-modal-track-list-item-song">Fragile Skin Of Me</p>
          <p class="artist-modal-track-list-item-time">2:15</p>
          <a href="#">svg youtube BTN</a>
        </li>
      </ul>
      <!-- <div class="artist-modal-album-track-row">
        <span>Rip Me Apart</span>
        <span>3:02</span>
        <a class="artist-modal-album-track-row-link" href="#">youtube BTN</a>
      </div>
      <div class="artist-modal-album-track-row">
        <span>Fragile Skin Of Me</span>
        <span>2:15</span>
        <a class="artist-modal-album-track-row-link" href="#">youtube BTN</a>
      </div> -->
    </div>
  </div>
</section>
