<section class="section">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-title-descr">Explore Your New Favorite Artists</p>
    <div class="artist-grid">
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
      <article class="artist-card">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/artists/artist-mob.webp   1x,
              /assets/images/artists/artist-mob@2.webp 2x
            "
          />

          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/artists/artist-tab.webp   1x,
              /assets/images/artists/artist-tab@2.webp 2x
            "
          />

          <img
            src="../assets/images/artists/artist-desk.webp"
            srcset="
              /assets/images/artists/artist-desk.webp   1x,
              /assets/images/artists/artist-desk@2.webp 2x
            "
            alt="artist-image"
            class="artist-img"
          />
        </picture>

        <div class="tags">
          <span class="tag">Alternative</span>
          <span class="tag">Pop</span>
          <span class="tag">Rock</span>
          <span class="tag">Indie</span>
        </div>

        <h3 class="artist-name">Oliver Tree</h3>
        <p class="artist-desc">
          A look at the influential figures who shaped jazz music history.
        </p>
        <a href="#" class="learn-more-btn"
          >Learn More<span>
            <svg class="learn-more-icon-caret-right" width="24" height="24">
              <use href="../assets/svg/sprite.svg#icon-caret-right"></use>
            </svg>
          </span>
        </a>
      </article>
    </div>
    <a href="#" class="load-more-btn">
      Load More
      <svg class="load-more-icon-btn" width="24" height="24">
        <use href="../assets/svg/sprite.svg#icon-down-arrow-alt"></use>
      </svg>
    </a>
  </div>
</section>
