<footer class="footer-wrapper">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <a
          href="./index.html"
          aria-label="Go to homepage"
          class="footer-logo-link"
        >
          <svg
            class="footer-logo-icon"
            width="119"
            height="51"
            role="img"
            aria-label="ArtistsHub logo"
          >
            <use href="../assets/svg/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <nav class="footer-nav" aria-label="Footer navigation">
        <a
          href="#artists"
          aria-label="Go to Artists section"
          class="footer-nav-link"
          >Artists</a
        >
        <a
          href="#about-us"
          aria-label="Go to About Us section"
          class="footer-nav-link"
          >About us</a
        >
        <a
          href="#reviews"
          aria-label="Go to Reviews section"
          class="footer-nav-link"
          >Reviews</a
        >
      </nav>
      <div class="footer-divider"></div>

      <div class="footer-bottom">
        <p class="footer-copyright">© 2025 ArtistsHub. All rights reserved.</p>

        <div class="footer-social">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Instagram profile"
            class="footer-social-link"
          >
            <svg class="footer-social-icon">
              <use href="../img/sprite.svg#icon-Instagram"></use>
            </svg>
          </a>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Facebook page"
            class="footer-social-link"
          >
            <svg class="footer-social-icon">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our YouTube channel"
            class="footer-social-link"
          >
            <svg class="footer-social-icon">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
