<section class="header">
  <header class="page-header">
    <div class="container">
      <nav class="header-nav">
        <a class="header-icon-logo" href="./index.html">
          <svg
            class="header-logo"
            width="119"
            height="51"
            role="img"
            aria-label="Company Logo"
          >
            <use href="../assets/svg/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <button
          class="burger-btn js-mobile-menu"
          type="button"
          aria-label="Open mobile menu"
        >
          <svg
            class="burger-icon"
            width="24"
            height="24"
            role="img"
            aria-hidden="true"
          >
            <use href="../assets/svg/sprite.svg#icon-burger-btn"></use>
          </svg>
        </button>
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a
              class="header-nav-link"
              href="#artists"
              aria-label="Go to Artists section"
              >Artists</a
            >
          </li>
          <li class="header-nav-item">
            <a
              class="header-nav-link"
              href="#about"
              aria-label="Go to About Us section"
              >About Us</a
            >
          </li>
          <li class="header-nav-item">
            <a
              class="header-nav-link"
              href="#reviews"
              aria-label="Go to Reviews section"
              >Reviews</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
</section>
