<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper-up-gradient"></div>
    <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
    <p class="hero-description">Dive into a world of music discoveries with ArtistsHub – your personal guide to the
      boundless universe of sound.
      Explore, filter, and learn about your favorite artists all in one place.</p>
    <a class="hero-link-artist" href="">Explore Artists
      <svg width="24" height="24">
        <use class="hero-icon" href="../assets/svg/sprite.svg#icon-right-arrow"></use>
      </svg>
    </a>
    <div class="hero-photo-box">
      <div class="hero-column-up">

        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-1.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-2.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-3.webp" alt="hero-photo">

        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-1.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-2.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-3.webp" alt="hero-photo">

      </div>
      <div class="hero-column-down">

        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-4.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-5.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-6.webp" alt="hero-photo">

        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-4.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-5.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-6.webp" alt="hero-photo">

      </div>
    </div>
    <div class="hero-wrapper-down-gradient">
    </div>
  </div>
</section>