<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper-up-gradient"></div>
    <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
    <p class="hero-description">Dive into a world of music discoveries with ArtistsHub – your personal guide to the
      boundless universe of sound.
      Explore, filter, and learn about your favorite artists all in one place.</p>
    <a class="hero-link-artist" href="">Explore Artists
      <svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.536006 20.386C0.697771 20.4702 0.879397 20.5087 1.06139 20.4974C1.24338 20.4861 1.41886 20.4255 1.56901 20.322L14.569 11.322C14.7018 11.23 14.8104 11.1071 14.8854 10.964C14.9604 10.8208 14.9995 10.6616 14.9995 10.5C14.9995 10.3384 14.9604 10.1792 14.8854 10.0361C14.8104 9.89291 14.7018 9.77006 14.569 9.67803L1.56901 0.678027C1.41915 0.573482 1.24346 0.512086 1.0611 0.500532C0.878744 0.488979 0.696714 0.527712 0.534858 0.612509C0.373002 0.697305 0.237532 0.82491 0.143218 0.981412C0.0489047 1.13791 -0.000633163 1.3173 6.10981e-06 1.50003V19.5C-2.39712e-05 19.6826 0.0499091 19.8616 0.144393 20.0178C0.238878 20.174 0.374308 20.3013 0.536006 20.386ZM2.00001 3.40903L12.243 10.5L2.00001 17.591V3.40903Z"
          fill="white" />
      </svg>
    </a>
    <div class="hero-photo-box">
      <div class="hero-column-up">

        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-1.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-2.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-3.webp" alt="hero-photo">

        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-1.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-2.webp" alt="hero-photo">
        <img class="hero-image-up" src="../assets/images/mobile-hero/mobile-3.webp" alt="hero-photo">

      </div>
      <div class="hero-column-down">

        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-4.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-5.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-6.webp" alt="hero-photo">

        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-4.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-5.webp" alt="hero-photo">
        <img class="hero-image-down" src="../assets/images/mobile-hero/mobile-6.webp" alt="hero-photo">

      </div>
    </div>
    <div class="hero-wrapper-down-gradient">
    </div>
  </div>
</section>