<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Section Reviews</h2>

    <div id="reviews-slider" class="splide">
      <div class="reviews-custom-arrows">
        <button
          class="reviews-icon-arrows"
          id="prev-arrow"
          aria-label="Previous slide"
        >
          <svg width="24" height="24" class="reviews-slider-icons">
            <use href="../assets/svg/sprite.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button
          class="reviews-icon-arrows"
          id="next-arrow"
          aria-label="Next slide"
        >
          <svg width="24" height="24" class="reviews-slider-icons">
            <use href="../assets/svg/sprite.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>

      <div class="splide__track">
        <ul class="splide__list reviews-list">
          <!-- JS вставить <li class="splide__slide"> тут -->
        </ul>
      </div>
    </div>
  </div>
</section>
